*{
	font-size: 16px;
}
#rouge{
	background-color : red;
}
#bleu{
	background-color : blue;
}
h1{
	font-size: 1.5625em;
}
@media screen and (max-width: 780px){
}
@media screen and (max-width: 420px){
}
